* {

    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
  }
  
  body{
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  canvas{
    display: block;
  }
  
  #selector {
      width:100%;
      height:100%;  
  }
  
  html {
    background: #0d0d0d;
    overflow: hidden;
  }
  
  ::selection {
    background: #000;
  }
  
  ::-moz-selection {
    background: #000;
  }
  
  #preload p {
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }
  
  #main p {
    color: #ffffff;
  }
  
  #main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-size: 80px;
  }
  
  #preload {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.25rem;
    transition: 0.6s;
  }
  
  #hidden {
    opacity: 0;
    transition: 0s;
  }
  
  #links {
    color: #53544d;
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 20px;
    left: 50%;
    white-space: nowrap;
  }
  
  .menu h5 {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    transition: 1s;
  }
  
  .menu h5 {
    text-decoration: none;
    transition: 1s;
  }
  
  .menu h5:hover {
    transition: 1s;
  }
  
  #login,
  #register {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 150%;
    left: 50%;
    opacity: 0;
    text-align: center;
    width: 320px;
    padding: 10px;
    padding-top: 30px;
    border: 2px solid transparent;
    margin: 0;
    border-radius: 5px;
    transition: 1s;
  }
  
  #login #user,
  #register #user,
  #register #inv {
    padding: 3px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    font-size: 20px;
    color: white;
  }
  
  #login #pass,
  #register #pass {
    padding: 3px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    font-size: 20px;
    color: white;
  }
  
  #login #button,
  #register #button {
    background-color: black;
    border: none;
    color: #ae3ec9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: 1s;
    border-radius: 5px;
  }
  
  #login #button:hover,
  #register #button:hover {
    transition: 1s;
    color: pink;
  }
  
  [required] {
    color: red;
    box-shadow: none;
  }
  
  #wrapper {
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: #151618;
  }
  
  #glow {
    height: 400;
    filter: drop-shadow(0 0 0.45rem rgba(254, 254, 255, 0.712));
  }
  
  .letter {
    color: #ffffff;
    background: linear-gradient(to right, #ffffff, #aa8dff 50%, #ccc8df 50%);
    overflow: hidden;     
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    letter-spacing:2;
  }
  
  .letter:hover {
    background-position: 0 100%;
    text-decoration: none;
       
  }
  
  #particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .overlay-bottom-right {
    position: fixed;
    bottom: -200px;
    left: -400px;
    width: 600px;
    height: 600px;
    background-color: #433766;
    border-radius: 100%;
    filter: blur(50px);
    opacity: 0.8;
  }
  
  .overlay-top-right {
  
    position: fixed;
    top: -300px;
    right: -250px;
    width: 550px;
    height: 400px;
    background-color: #433766;
    border-radius: 100%;
    filter: blur(50px);
    opacity: 0.5;
  }