.PepzZ {/* s4wq4oz66bbyvsv2rg3ixwuwzvoxv226bg3563ptchx7xknelhfu3rqd.onion 4Hx34iV8DiDjReY5mpBUNEL6JFgxC66brXLvAWbVnXW3g4VVzwwKMks881VVmadvy87sMF6ChN9F6SNZtouS78Df6EGSUk8ARmnKHChQMJ */ background-image: url(/jail_captcha/s4wq4oz66bbyvsv2rg3ixwuwzvoxv226bg3563ptchx7xknelhfu3rqd.onion); width: 1px; height: 1px;} 
        #KGIwDvgNpJxPm { 
        width: 500px; height: 30px;
        position: absolute;
        margin-left: 250px;
        margin-right: 750px;
        margin-top: 180px;
        z-index: 100;
        color: white;
        font-family: monospace;
        font-size: 13px;}